* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #4d95ff;
    overflow: hidden;
}

.login {
    background-image: url("https://i.pinimg.com/564x/8f/da/cb/8fdacb057ac7c4e27a5f37e9ad32ef52.jpg");
    background-repeat: no-repeat;
    width: 40%;
    float: left;
    height: 800px;
    display: inline-flex;
    position: sticky;
}

.login .box {
    background: #2b67ff;
    width: 50%;
    height: 600px;
    transform: translate(40%, 13%);
    border-radius: 50px 0 50px 0;
}

.login .box h1 {
    color: white;
    width: 95%;
    font-size: 40px;
    font-family: "MuseoModerno Thin", sans-serif;
    transform: translate(0%, 200%);
    text-align: center;
}

.login .box label {
    display: inline-flex;
    position: sticky;
    transform: translate(25%, 430%);
    opacity: 1;
    color: white;
    margin-top: 50px;
    font-size: 15px;
    font-family: "MuseoModerno Thin", sans-serif;
}

.login .box input {
    display: inline-flex;
    position: sticky;
    transform: translate(25%, 390%);
    opacity: 1;
    color: black;
    font-size: 15px;
    font-family: "MuseoModerno Thin", sans-serif;
}

.about-box {
    float: right;
    border-radius: 50px 0 50px 0;
    background: white;
    color: black;
    width: 50%;
    height: 500px;
    transform: translate(-10%,25%);

}